#!/usr/bin/env bash

# Easier navigation: .., ..., .... and ~~
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~~="cd ~" # `cd` is probably faster to type though

alias gsta="git stash" # overwrite 'git stash push' from git oh-my-zsh plugin
alias gcan="git commit --amend --no-edit"

alias python=python3
alias pip=pip3

alias n=npm
alias nr="npm run"
alias nrb="npm run build"
alias nrs="npm run serve"
alias nrt="npm run test"
alias nrl="npm run lint"
alias nrd="npm run dev"
alias ns="npm start"
alias ni="npm install"
alias nis="npm install --save"
alias nisd="npm install --save-dev"
alias nig="npm install -g"

alias pn="pnpm"
alias pnr="pnpm run"
alias pnrb="pnpm run build"
alias pnrs="pnpm run serve"
alias pnrt="pnpm run test"
alias pnrl="pnpm run lint"
alias pnrd="pnpm run dev"
alias pns="pnpm start"
alias pni="pnpm install"
alias pnis="pnpm install --save"
alias pnisd="pnpm install --save-dev"
alias pnig="pnpm install -g"


# Directory shortcut
alias desktop="cd ~/Desktop/"
alias documents="cd ~/Documents/"
alias downloads="cd ~/Downloads/"

# fun
alias stfu="osascript -e 'set volume output muted true'"
