#!/usr/bin/env bash
source ~/.logging

##############################################################
# callable functions (zsh only)
##############################################################

# format and displaya JWT token as JSON
function jwtd(){
  if [ -z "$1" ]; then
    echo "Usage: jwtd <jwt_token>"
    return 1
  fi
  jq -R 'split(".") | .[1] | @base64d | fromjson' <<< "$1"
}

function text() {
  if [ $# -eq 0 ]; then
    open -a TextEdit
  else
    open -a TextEdit "$@"
  fi
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}

# shortcut to open VSCode on a new window
function coden() {
  code -n "$@"
}

# kill process on specified port
function killport() {
  pid=$(lsof -ti tcp:$1)
  if [ -n "$pid" ]; then
    kill $pid
    log.success "Process on port $1 killed"
  else
    log.info "No process found on port $1"
  fi
}
##############################################################
# Background functions
##############################################################

function setup_nvm(){
  export NVM_DIR="$HOME/.nvm"

  # new version of NVM configuration!!
  [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
  [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

  # old version of NVM configuration (homebrew)
   # Check if NVM is installed through Homebrew, and source nvm.sh accordingly
  # if [ -d $(brew --prefix nvm 2>/dev/null) ]; then
  #   source $(brew --prefix nvm)/nvm.sh
  # elif [ -f "$NVM_DIR/nvm.sh" ]; then
  #   source "$NVM_DIR/nvm.sh"
  # fi


  # Check for .nvmrc file and NVM_DIR existence
  if [ -f .nvmrc ] && [ -d "$NVM_DIR" ]; then
    NODE_VERSION=$(cat .nvmrc)
    # Attempt to use the desired Node.js version; if not installed, install and use it
    nvm use "$NODE_VERSION" || nvm install "$NODE_VERSION"
  fi
}

function setup_pyenv() {
  export PYENV_ROOT="$HOME/.pyenv"
  command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
  eval "$(pyenv init -)"
}