sBrewfile.lock.json
Caskfile.lock.json
.DS_Store
test*
dots/.config/karabiner/automatic_backups/
dots/.config/zed/prompts/
dots/.docker/*
!dots/.docker/config.json
!dots/.docker/daemon.json
__pycache__/
